{% extends "home.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create new </title>
    {% block createclass%} {{super()}}
    <style>
        h1 {
            text-align: center;
        }
        
        fieldset {
            margin: auto;
            margin-top: 28px;
            width: 500px;
            height: 500px;
            line-height: 28px;
        }
        
        .form #text {
            height: 20px;
            width: 500px;
            padding: 3px 12px 5px;
            font-size: 19px;
        }
        
        .form li {
            position: relative;
        }
        
        .form li {
            font-size: 19px;
            ;
        }
        
        .form #save {
            position: relative;
            padding: 9px 250px 9px 250px;
            border-radius: 9px;
            font-size: 18px;
            background-color: #333;
            color: white;
        }
        
        .form #save:hover {
            background-color: #999999;
            transition: .5s;
            font-size: 120%;
        }
    </style>
</head>

<body>
    <fieldset>
        <h1>Create</h1>
        <hr>
        <form class="form" action="{{url_for('save')}}" method="POST">
            <label for=""><b>Name of class:</b></label><br>
            <input id="text" type="text" name="name"><br>
            <label for=""><b>Choice the Subject of class: </b></label><br> {% for i in subject_name%}
            <li>
                <input type="radio" name="subjects" id="id" value="{{i[0]}}"> {{i[0]}}<br>
            </li>
            {% endfor%}
            <br>
            <input type="submit" value="Save" id="save">

        </form>
    </fieldset>
    {%endblock%}
</body>

</html>