<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            list-style: none;
            text-decoration: none;
        }
        
        body {
            font-family: 'Courier New', Courier, monospace;
            height: 100vh;
            background: linear-gradient(90deg, #1E90FF, #9400D3) no-repeat;
        }
        
        .sidebar {
            position: absolute;
            margin-top: 30px;
            position: fixed;
            ;
        }
        
        .menu {
            width: 250px;
            border-radius: 9px;
            overflow: hidden;
            border: 1px solid #1a53ff;
        }
        
        .item {
            border-top: 2px solid #2e1e33;
            overflow: hidden;
        }
        
        .btn {
            display: block;
            padding: 16px 20px;
            background-color: #1a53ff;
            color: white;
        }
        
        .btn:hover {
            background-color: #999999;
            transition: .5s;
            font-size: 110%;
        }
        
        .smenu {
            background: #333;
            overflow: hidden;
        }
        
        .smenu a {
            display: block;
            padding: 16px 56px;
            color: white;
            font-size: 14px;
            margin: 4px 0;
        }
        
        .smenu a:hover {
            background-color: #999999;
            transition: .5s;
            font-size: 110%;
        }
        
        .main-menu {
            margin-left: 310px;
            margin-top: 30px;
            overflow: scroll;
            border-radius: 9px;
            width: 960px;
            height: 100vh;
            background-color: white;
        }
    </style>
</head>

<body>
    <div class="sidebar">
        <div class="menu">
            <li class="item">
                <a href="{{url_for('getallsubject')}}" class="btn">Home</a>
            </li>

            <li class="item">
                <a href="#" class="btn">List</a>
                <div class="smenu">
                    <a href="{{url_for('get_all_class')}}">List of class</a>
                    <a href="{{url_for('getallsubject')}}">List of subject</a>
                    <a href="{{url_for('index')}}">List of user</a>
                </div>
            </li>
            <li class="item">
                <a href="#" class="btn">Profile</a>
                <div class="smenu">
                    <a href="{{url_for('getusername')}}">Information</a>
                    <a href="{{url_for('logout')}}">Log out</a>
                </div>
            </li>
            <li class="item">
                <a href="#" class="btn">About</a>
            </li>
        </div>
    </div>
    <div class="main-menu">
        {% block index %}{%endblock%} {% block infor%}{%endblock%}{%block subject%}{%endblock%}{%block listclass%}{%endblock%} {% block createclass%}{%endblock%}
    </div>
</body>

</html>