{% extends "home.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% block index%}
    <title>HOME</title>
    {{super()}}
    <style>
        * {
            font-family: 'Courier New', Courier, monospace;
        }
        
        table,
        tr,
        th,
        td {
            margin: auto;
            border-collapse: collapse;
            padding-left: 9px;
        }
        
        td a {
            font-size: 120%
        }
        
        tr {
            border: 1px solid #dddddd;
        }
        
        td {
            border: 1px solid #696969;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h1> List of User:</h1>
    <p>---({{data|length}} user)--</p>
    <form method=" POST ">
        <table>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Name</th>
                <th>Gmail</th>
                <th>
                    Address
                </th>
            </tr>

            {% for i in data %}
            <tr>
                <td><a href="/home/infor/{{i[0]}}" name="id">{{i[0]}}</a></td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[5]}}</td>
                </a>
            </tr>
            {% endfor %}

        </table>
    </form>
</body>
{%endblock%}

</html>