{% extends "home.html"%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Infor</title>
    {% block infor%} {{ super()}}
    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
        }
        
        form #changebutton {
            margin-left: 60px;
            padding: 9px 40px;
            border-radius: 9px;
            font-size: 110%;
            position: relative;
            margin-top: -45px;
            margin-bottom: 28px;
        }
        
        form #changebutton:hover {
            background-color: #A9A9A9;
            transition: .4s;
        }
        
        fieldset {
            margin: auto;
            width: 600px;
            border-radius: 9px;
        }
        
        form {
            margin-left: 10px;
            ;
        }
        
        .menu {
            float: left;
            margin-right: 12px;
            margin-left: 12px;
        }
        
        h1 {
            text-align: center;
            margin-top: 12px;
            margin-bottom: 12px;
        }
        
        .menu input {
            padding: 9px 40px;
            margin: 12px;
            border-radius: 9px;
        }
        
        table,
        tr,
        th,
        td {
            margin: left;
            border-collapse: collapse;
            padding-left: 9px;
        }
        
        #create {
            font-size: 120%;
            padding-left: 200px;
            line-height: 50px;
            color: blueviolet;
        }
        
        #create:hover {
            color: darkgreen;
        }
        
        tr {
            border: 1px solid #dddddd;
        }
        
        td {
            border: 1px solid #696969;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h1>Information of user:</h1><br>
    <fieldset>

        <form action="/home/infor/{{result[0]}}/change" method="POST" class="infor">
            <div class="menu left-menu">
                <div>
                    <label>Username:</label><br>
                    <input type="text" name="username" value="{{result[1]}}" disabled>
                </div>
                <div>
                    <label>Password:</label><br>
                    <input type="password" name="password" value="{{result[2]}}">
                </div>
            </div>
            <div class="menu right-menu">
                <div>
                    <label>Name:</label><br>
                    <input type="text" name="name" value="{{result[3]}}">
                </div>

                <div>
                    <label>Gmail:</label><br>
                    <input type="text" name="gmail" value="{{result[4]}}">
                </div>
                <div>
                    <label><Address>Address:</Address></label>
                    <input type="text" name="address" value="{{result[5]}}">
                </div>
            </div>
            <input type="submit" value="Change" id="changebutton">

    </fieldset>
    <h1>Danh sach cac mon da dang ki:</h1>
    <table>
        <tr>

            <th>ID</th>
            <th>Name</th>
            <th>Subject</th>
        </tr>
        {% for value in result2 %}
        <tr>
            <td>{{value[0]}}</td>
            <td>{{value[2]}}</td>
            <td>{{value[3]}}</td>
        </tr>
        {% endfor%}
    </table>
    {%endblock%}
</body>

</html>