{% extends "home.html"%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% block subject%} {{super()}}
    <title>List of Subject</title>

    <style>
        * {
            font-family: 'Courier New', Courier, monospace;
        }
        
        h1,
        h2 {
            text-align: center;
        }
        
        .mainmenu {
            list-style: none;
            overflow: hidden;
        }
        
        .subjectname {
            margin-top: 12px;
        }
        
        .subjectname a {
            position: relative;
            display: block;
            float: left;
            padding: 36px 28px 12px 28px;
            border: 1px solid black;
            border-radius: 9px;
            height: 56px;
            width: 200px;
            margin-left: 28px;
            margin-top: 28px;
            margin-right: 28px;
            text-decoration: none;
            text-align: center;
            color: black;
            background-color: #66CDAA;
        }
        
        .subjectname a:hover {
            background-color: #696969;
            transition: .4s;
        }
    </style>
</head>

<body>
    <div class="mainmenu">
        <h1>List of subject:</h1>
        <h2>Total:{{results|length}}(subjects)</h2>
        {%for row in results%}
        <li class="list">
            <div class="subjectname">
                <a href="#">{{row[0]}}-Details:</a>
            </div>
        </li>
        {% endfor%}

    </div>
</body>
{%endblock%}

</html>