<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" type="text/css">
    <title>Login</title>
    <style>
        /*
        body {
            font-family: 'Courier New', Courier, monospace;
            height: 100vh;
            background: linear-gradient(90deg, #1E90FF, #9400D3) no-repeat;
        }
        */
        
        form {
            border-radius: 20px;
            border: px;
            margin: auto;
            margin-top: 140px;
            background-color: white;
            width: 440px;
            height: 300px;
            padding-top: 80px;
        }
        
        #login {
            text-align: 0 center;
            position: absolute;
            left: 50%;
            top: 32%;
            transform: translateX(-50%) translateY(-50%);
            text-decoration: none;
            color: black;
            font-size: 28px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        
        #login a:hover {
            color: #00008B;
        }
        
        #register {
            position: absolute;
            left: 50%;
            top: 69%;
            transform: translateX(-50%) translateY(+400%);
        }
        
        #register a {
            color: #1e242b;
        }
        
        #register a:hover {
            color: #00008B;
        }
        
        form #input {
            background-color: #D3D3D3;
            border-radius: 20px;
            padding: 5px 30px;
            height: 30px;
            margin-left: 70px;
            text-align: left;
            margin-top: 20px;
            margin-bottom: 5px;
            font-size: 16px;
            padding-left: 30px;
        }
        
        form #submit {
            background-color: #32CD32;
            border-radius: 20px;
            height: 30px;
            text-align: center;
            font-size: 20px;
            color: white;
            margin-left: 75px;
            margin-top: 15px;
            padding: 10px 120px 15px 120px;
            height: 50px;
        }
        
        form #submit:hover {
            background-color: #696969;
            transition: .5s;
        }
    </style>
</head>

<body>
    <div id="header">
        <div id="login">
            <a href="/login" id="login">Login</a>
        </div>
        <div id="register">
            <a href="{{url_for('register')}}">New?Register</a>
        </div>
    </div>
    <div>
        <form action="{{url_for('login')}}" method="POST">
            <input type="text" name="username" placeholder="Username" required id="input">
            <input type="password" name="password" placeholder="Password" required id="input">
            <input type="submit" name="login" value="Login" id="submit">
        </form>
    </div>



</body>

</html>