<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" type="text/css">
    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
            height: 100vh;
            background: linear-gradient(90deg, #1E90FF, #9400D3) no-repeat;
        }
        
        fieldset {
            margin: auto;
            background-color: white;
            border-radius: 20px;
            width: 60%;
            height: 90%;
            margin-top: 20px;
        }
        
        fieldset h1 {
            text-align: center;
        }
        
        fieldset input {
            background-color: #D3D3D3;
            border-radius: 20px;
            padding: 5px 15px;
            height: 25px;
            margin-left: 30px;
            text-align: left;
            margin-top: 10px;
            margin-bottom: 5px;
            font-size: 16px;
            padding-left: 57px;
        }
        
        fieldset #submit {
            background-color: #32CD32;
            border-radius: 20px;
            height: 30px;
            text-align: center;
            font-size: 20px;
            color: white;
            margin-left: 110px;
            margin-top: 15px;
            padding: 10px 120px 15px 120px;
            height: 50px;
        }
        
        fieldset #submit:hover {
            background-color: #696969;
            transition: .5s;
        }
    </style>
</head>

<body>
    <fieldset>
        <h1>Sign up</h1>
        <hr>
        <form action="{{url_for('register')}}" method="POST">

            <fieldset>
                <label>Username:</label><br>
                <input type="text" name="username" size=40 placeholder="Enter username here."><br>
                <label>Password:</label><br>
                <input type="password" name="password" size=40 placeholder="Enter password here."><br>
                <label>Name:</label><br>
                <input type="text" name="name" size=40 placeholder="Enter your name here."><br>
                <label>Gmail:</label><br>
                <input type="text" name="gmail" size=40 placeholder="Enter your gmail here"><br>
                <label>Address:</label><br>
                <input type="text" name="address" size=40 placeholder="Enter your address here"><br>
                <input type="submit" value="Sign up" id="submit">
            </fieldset>
        </form>
    </fieldset>
</body>

</html>